<div class="download-box download-box--inline">

      <p class="govuk-body-s">Download school summer census 2019 data</p>

      <p class="govuk-body-s"><a href="#" class="govuk-!-padding-right-3">XML format</a> <a href="#">CSV format</a></p>
      

  </div>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Pupils on roll by age and gender
    </span>
  </summary>
  <div class="govuk-details__text">
    {% include("./summary-tables/pupils-by-age.html") %}
  </div>
</details>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Pupils on roll in each national curriculum year group
    </span>
  </summary>
  <div class="govuk-details__text">
    {% include("./summary-tables/pupils-each-curriculum-group.html") %}
  </div>
</details>


<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Proficiency in English
    </span>
  </summary>
  <div class="govuk-details__text">
    {% include("./summary-tables/proficiency-in-english.html") %}
  </div>
</details>

<details class="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Pupils on roll with SEN provision
    </span>
  </summary>
  <div class="govuk-details__text">
    {% include("./summary-tables/pupils-with-sen.html") %}
  </div>
</details>

<p class="govuk-!-padding-bottom-2">
  <a href="#">Absence insight report</a>
</p>
