{% extends 'layout_internal.html' %}

{% block pageTitle %}
    2502Q
{% endblock %}

{% block postHeader %}
<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>Feetham’s High School</b> 320/4930</span>
    </div>
    <div style="float:right;">
        {{ govukButton({
            text: 'Return to work queue',
            href: '#',
            classes: 'hmcts-menu-item hmcts-button--secondary'
        }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full census-case-nav">

        {{ govukBreadcrumbs({
            items: [
                {
                    text: 'Queries',
                    href: '#'
                },
                {
                    text: '2502Q (3 pupils)'
                }
            ]
        }) }}

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        
        <h1 class="govuk-heading-xl query-heading">2502Q</h1>

        <span class="no-wrap type-tag pupil">3 pupils</span>

        <p>Zero attendance sessions possible recorded for pupil on roll. Pupil should only be recorded with zero sessions possible if dually registered and spent all of the previous term for which attendance data is being collected at other registration.</p>

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        {{ govukTable({
            caption: 'Queries',
            firstCellIsHeader: true,
            classes: 'internal-table query-table',
            head: [
                {
                    html: '<span class="no-wrap">Query</span>'
                },
                {
                    html: '<span class="no-wrap">Explanation</span>'
                },
                {
                    html: '<span class="no-wrap">Accepting guide</span>',
                    classes: 'width-medium'
                },
                {
                    html: '<span class="no-wrap">Actions</span>'
                }
            ],
            rows: [
                [
                    {
                        html: '<h3 class="govuk-heading-m" style="margin-bottom: 5px;">2502Q</h3><a href="#" class="no-wrap type-tag pupil">3 pupils</a><br>Zero attendance sessions possible recorded for pupil on roll. Pupil should only be recorded with zero sessions possible if dually registered and spent all of the previous term for which attendance data is being collected at other registration.'
                    },
                    {
                        html: '<div class="note"><span class="title">26 January 2019 at 9:43</span>The pupil is dually registered and did not attend school this term.</div><div class="note reply"><span class="title">Rejected 26 January 2019 at 15:43</span>It is not clear if this refers to all pupils</div><div class="note"><span class="title">27 January 2019 at 8:23</span>Yes, this applies to all 3 pupils.</div>'
                    },
                    {
                        html: 'Confirmation is not acceptable. Acceptable note entry ‘pupil is dually registered and though did not attend this establishment in the previous term, they remain on roll’.',
                        classes: 'width-medium'
                    },
                    {
                        html: '<a href="#" class="govuk-button govuk-button-small">Approve all</a><br><a href="#" class="govuk-button govuk-button-red govuk-button-small" id="rejectPrompt">Reject all</a><br><a href="#" class="govuk-button govuk-button-blue govuk-button-small">View records</a>'
                    }
                ],
                [
                    {
                        html: '<h3 class="govuk-heading-m" style="margin-bottom: 5px;">2502Q</h3><a href="#" class="no-wrap type-tag pupil">1 pupil</a><br>Zero attendance sessions possible recorded for pupil on roll. Pupil should only be recorded with zero sessions possible if dually registered and spent all of the previous term for which attendance data is being collected at other registration.'
                    },
                    {
                        html: '<div class="note"><span class="title">26 January 2019 at 9:45</span>Pupil was added to this term by mistake, will be off-role on next census.</div>'
                    },
                    {
                        html: 'Confirmation is not acceptable. Acceptable note entry ‘pupil is dually registered and though did not attend this establishment in the previous term, they remain on roll’.',
                        classes: 'width-medium'
                    },
                    {
                        html: '<a href="#" class="govuk-button govuk-button-small">Approve</a><br><a href="#" class="govuk-button govuk-button-red govuk-button-small">Reject</a><br><a href="#" class="govuk-button govuk-button-blue govuk-button-small">View record</a>'
                    }
                ],
                [
                    {
                        html: '<h3 class="govuk-heading-m" style="margin-bottom: 5px;">2695Q</h3><span href="#" class="no-wrap type-tag school">School</span><br>90% or more of infant pupils have free school meal eligibility.'
                    },
                    {
                        html: '<div class="note"><span class="title">26 January 2019 at 9:51</span>The school is in an area of high unemployment.</div>'
                    },
                    {
                        html: 'Confirmation is not acceptable. A statement must be included that these infant pupils also meet the FSM criteria and that they have not been recorded as FSM due to receipt of UiFSM. Due to pupil premium funding this is to ensure that schools have not made an error.',
                        classes: 'width-medium'
                    },
                    {
                        html: '<a href="#" class="govuk-button govuk-button-small">Approve</a><br><a href="#" class="govuk-button govuk-button-red govuk-button-small">Reject</a>'
                    }
                ],
                [
                    {
                        html: '<h3 class="govuk-heading-m" style="margin-bottom: 5px;">2740Q</h3><span href="#" class="no-wrap type-tag school">School</span><br>Learning start date seems too early.'
                    },
                    {
                        html: '<div class="note"><span class="title">26 January 2019 at 10:03</span>Early start date agreed by governors.</div>'
                    },
                    {
                        html: 'Confirmation that the information is correct',
                        classes: 'width-medium'
                    },
                    {
                        html: '<a href="#" class="govuk-button govuk-button-small">Approve</a><br><a href="#" class="govuk-button govuk-button-red govuk-button-small">Reject</a>'
                    }
                ],
                [
                    {
                        html: '<h3 class="govuk-heading-m" style="margin-bottom: 5px;">TonT1C</h3><span href="#" class="no-wrap type-tag term">Term-on-term</span><br>There are significantly fewer pupils than last collection. A reason must be provided for this decrease.'
                    },
                    {
                        html: '<div class="note"><span class="title">26 January 2019 at 11:00</span>A new school opened close by.</div>'
                    },
                    {
                        html: 'A reason will sought if there is significant decrease of pupils. ',
                        classes: 'width-medium'
                    },
                    {
                        html: '<a href="#" class="govuk-button govuk-button-small">Approve</a><br><a href="#" class="govuk-button govuk-button-red govuk-button-small">Reject</a>'
                    }
                ]
            ]
        }) }}

    </div>

</div>

{% endblock %}