.internal {
	.govuk-width-container,
	[class*='__container'] {
		max-width: 1240px;
	}
}

.hmcts-identity-bar {
	.govuk-button {
		margin-bottom: 0;
	}
}

.internal-table {
	caption {
		display: none;
	}
	.govuk-table__head {
		font-size: 19px;
	}
	&:not(.query-error-table) {
		p,
		.type-tag {
			font-size: 14px;
		}
	}
	.type-tag,
	.govuk-button {
		font-size: 16px;
	}
}

.query-description {
	.govuk-heading-m {
		display: inline-block;
		margin-right: 15px;
		vertical-align: middle;
	}
}

.query-table {
	td,
	th {
		max-width: 25vw;
		vertical-align: top;
	}
}

.dfe-sub-navigation {
	margin-bottom: 40px;
}

.dfe-sub-navigation__list {
	font-size: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}

@media (min-width: 40.0625em) {
	.dfe-sub-navigation__list {
		box-shadow: inset 0 -1px 0 #bfc1c3;
		width: 100%;
	}
}

.dfe-sub-navigation__item {
	font-family: 'nta', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.25;
	box-shadow: inset 0 -1px 0 #bfc1c3;
	display: block;
	margin-top: -1px;
}

@media print {
	.dfe-sub-navigation__item {
		font-family: sans-serif;
	}
}

@media (min-width: 40.0625em) {
	.dfe-sub-navigation__item {
		font-size: 19px;
		line-height: 1.31579;
	}
}

@media print {
	.dfe-sub-navigation__item {
		font-size: 14pt;
		line-height: 1.15;
	}
}

.dfe-sub-navigation__item:last-child {
	box-shadow: none;
}

@media (min-width: 40.0625em) {
	.dfe-sub-navigation__item {
		box-shadow: none;
		display: inline-block;
		margin-right: 20px;
		margin-top: 0;
	}
}

.dfe-sub-navigation__link {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 15px;
	text-decoration: underline;
}

@media (min-width: 40.0625em) {
	.dfe-sub-navigation__link {
		padding-left: 0;
	}
}

.dfe-sub-navigation__link:focus {
	color: #0b0c0c;
	position: relative;
}

.dfe-sub-navigation__link[aria-current='page'] {
	color: #0b0c0c;
	position: relative;
	text-decoration: none;
}

.dfe-sub-navigation__link[aria-current='page']:before {
	background-color: #005ea5;
	content: '';
	display: block;
	height: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 5px;
}

@media (min-width: 40.0625em) {
	.dfe-sub-navigation__link[aria-current='page']:before {
		height: 5px;
		width: 100%;
	}
}

.dfe-sub-navigation__link[aria-current='page']:focus:before {
	background-color: #0b0c0c;
}

.govuk-width-container.case {
	max-width: 1200px;
}

.govuk-header.case {
	border-bottom: none;
	padding: 10px 0 15px;

	.govuk-header__container {
		border-bottom: none;
		padding: 10px;
		padding-bottom: 5px;
	}

	@media (min-width: 48.0625em) {
		.govuk-header__logo,
		.govuk-header__content {
			width: 50%;
		}
	}

	.govuk-header__link--homepage {
		font-size: 24px;
		padding: 3px auto;
	}

	.top-nav {
		float: right;
		nav ul {
			display: flex;
			list-style: none;
			align-items: center;
			justify-content: flex-end;
			padding: 0;
			margin: 0;
			height: 30px;
			li {
				margin-left: 25px;
				a {
					color: white;
					font-weight: bold;
					font-size: 18px;
					text-decoration: none;
				}
			}
		}
	}
}

.case-banner {
	clear: both;
	background-color: $govuk-brand-colour;
	.govuk-main-wrapper {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.case-name {
		color: white;
		margin-bottom: 0;
		strong {
			margin-left: 15px;
		}
	}
}

.govuk-button-small {
	font-size: 14px;
	margin-bottom: 10px;
}

.govuk-button-red {
	background-color: govuk-colour('red');
	box-shadow: 0 2px 0 darken(govuk-colour('red'), 20%);
	&:hover,
	&:focus,
	&:active {
		background-color: darken(govuk-colour('red'), 10%);
		box-shadow: 0 2px 0 darken(govuk-colour('red'), 20%);
	}
	&[disabled],
	&.govuk-button--disabled {
		background-color: rgba(govuk-colour('red'), 50%);
	}
}

.govuk-button-orange {
	background-color: govuk-colour('orange');
	box-shadow: 0 2px 0 darken(govuk-colour('orange'), 20%);
	&:hover,
	&:focus,
	&:active {
		background-color: darken(govuk-colour('orange'), 10%);
		box-shadow: 0 2px 0 darken(govuk-colour('orange'), 20%);
	}
	&[disabled],
	&.govuk-button--disabled {
		background-color: rgba(govuk-colour('orange'), 50%);
	}
}

.govuk-button-grey,
a.govuk-button.govuk-button-grey {
	color: govuk-colour('black');
	background-color: govuk-colour('grey-3');
	box-shadow: 0 2px 0 darken(govuk-colour('grey-3'), 20%);
	&:hover,
	&:focus,
	&:active {
		color: govuk-colour('black');
		background-color: darken(govuk-colour('grey-3'), 10%);
		box-shadow: 0 2px 0 darken(govuk-colour('grey-3'), 20%);
	}
	&[disabled],
	&.govuk-button--disabled {
		color: govuk-colour('black');
		background-color: rgba(govuk-colour('grey-3'), 50%);
	}
}

.govuk-button-blue {
	background-color: govuk-colour('blue');
	box-shadow: 0 2px 0 darken(govuk-colour('blue'), 20%);
	&:hover,
	&:focus,
	&:active {
		background-color: darken(govuk-colour('blue'), 10%);
		box-shadow: 0 2px 0 darken(govuk-colour('blue'), 20%);
	}
	&[disabled],
	&.govuk-button--disabled {
		background-color: rgba(govuk-colour('blue'), 50%);
	}
}

.note {
	.title {
		display: block;
		font-weight: bold;
		margin-bottom: 5px;
	}
	background-color: rgba(govuk-colour('light-blue'), 0.1);
	border-left: 4px solid govuk-colour('light-blue');
	padding: 10px 10px 20px 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	&:last-child {
		margin-bottom: 0;
	}
	&.reply {
		background-color: rgba(govuk-colour('orange'), 0.15);
		border-color: govuk-colour('orange');
		margin-right: 0;
		margin-left: 20px;
	}
	&.approval {
		background-color: rgba(govuk-colour('light-green'), 0.15);
		border-color: govuk-colour('light-green');
		margin-right: 0;
		margin-left: 20px;
	}
	.action & {
		margin-right: 0;
		margin-left: 0;
	}
}

a.type-tag,
.type-tag {
	font-weight: bold;
	display: inline-block;
	font-family: $govuk-font-family;
	vertical-align: middle;
	color: govuk-colour('blue');
	background-color: rgba(govuk-colour('blue'), 0.025);
	padding: 3px 5px 1px 5px;
	margin-bottom: 5px;
	text-decoration: none;
	border: 1.5px solid govuk-colour('blue');
	border-radius: 3px;
	&.school {
		border-color: govuk-colour('green');
		color: govuk-colour('green');
		background-color: rgba(govuk-colour('green'), 0.025);
	}
	&.error {
		border-color: govuk-colour('red');
		color: govuk-colour('red');
		background-color: rgba(govuk-colour('red'), 0.025);
	}
	&.count {
		border-color: lighten(govuk-colour('grey-3'), 5%);
		color: govuk-colour('black');
		background-color: lighten(govuk-colour('grey-3'), 5%);
	}
	&.query {
		border-color: darken(govuk-colour('orange'), 10%);
		color: darken(govuk-colour('orange'), 10%);
		background-color: rgba(darken(govuk-colour('orange'), 10%), 0.025);
	}
	&.term,
	&.term-on-term {
		border-color: govuk-colour('pink');
		color: govuk-colour('pink');
		background-color: rgba(govuk-colour('pink'), 0.025);
	}
	&.class {
		color: govuk-colour('brown');
		border-color: govuk-colour('brown');
		background-color: rgba(govuk-colour('brown'), 0.025);
	}
	&.count-tag {
		font-size: 14px;
		text-decoration: none;
		margin-left: 5px;
	}
}

.govuk-tag {
	&.maintained {
		background-color: govuk-colour('purple');
	}
	&.academy {
		background-color: govuk-colour('turquoise');
	}
}

.query-heading {
	display: inline-block;
	margin-right: 15px;
}

.internal--form {
	.govuk-radios__item {
		min-height: 20px;
	}
	.govuk-radios__input {
		height: 25px;
		width: 25px;
	}
	.govuk-radios__label {
		padding: 0;
	}
	.govuk-radios__input + .govuk-radios__label::before {
		height: 25px;
		width: 25px;
	}
	.govuk-radios__input + .govuk-radios__label::after {
		top: 5.5px;
		left: 5.5px;
		border: 7px solid currentColor;
	}
	.govuk-radios__conditional {
		margin-left: 11px;
	}
}

.notes {
	font-family: $govuk-font-family;
}

tr.highlight-row {
	background-color: rgba(govuk-colour('yellow'), 0.2);
}

.table-checkbox-cell {
	position: relative;
	clear: left;
	&.form-group:first-of-type {
		margin-top: 20px;
	}
	input[type='checkbox'] {
		position: absolute;
		z-index: 1;
		top: 5px;
		left: 5px;
		width: 25px;
		height: 25px;
		cursor: pointer;
		margin: 0;
		opacity: 0;
		&:checked + label::after {
			opacity: 1;
		}
	}
	label {
		display: inline-block;
		margin-bottom: 0;
		padding: 2px 5px 5px;
		cursor: pointer;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		&:before {
			content: '';
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			position: absolute;
			top: 9px;
			left: 5px;
			width: 25px;
			height: 25px;
			border: 2px solid currentColor;
			background: transparent;
		}
		&::after {
			content: '';
			position: absolute;
			top: 14px;
			left: 10px;
			width: 11px;
			height: 6px;
			-webkit-transform: rotate(-45deg);
			-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
			border: solid;
			border-top-color: currentcolor;
			border-top-width: medium;
			border-right-width: medium;
			border-bottom-width: medium;
			border-left-width: medium;
			border-width: 0 0 4px 4px;
			border-top-color: transparent;
			opacity: 0;
			background: transparent;
		}
	}
}

.collector-table {
	.govuk-button {
		margin-bottom: 0;
	}
}

.dialog .govuk-summary-list__key {
	margin-bottom: govuk-spacing(1);
	@include govuk-typography-weight-bold;
	@include govuk-media-query($from: tablet) {
		word-break: keep-all;
		width: 50%;
	}
}

.queried-data {
	&.govuk-summary-list__value {
		&::before {
			content: '?';
			display: inline-block;
			height: 16px;
			width: 16px;
			font-size: 14px;
			padding: 2px;
			font-weight: bold;
			background-color: govuk-colour('blue');
			color: govuk-colour('white');
			text-align: center;
			border-radius: 50%;
			transform: translateY(-1px) translateX(-5px);
		}
	}

	background-color: rgba(govuk-colour('light-blue'), 0.1);
}

[aria-sort] button,
[aria-sort] button:hover {
	background-color: transparent;
	border-width: 0;
	-webkit-box-shadow: 0 0 0 0;
	-moz-box-shadow: 0 0 0 0;
	box-shadow: 0 0 0 0;
	color: #005ea5;
	cursor: pointer;
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	padding: 0 10px 0 0;
	position: relative;
	text-align: inherit;
	font-size: 1em;
	margin: 0;
}

[aria-sort]:first-child button {
	right: auto;
}

[aria-sort] button:before {
	content: ' \25bc';
	position: absolute;
	right: -2px;
	top: 8px;
	font-size: 0.5em;
}

[aria-sort] button:after {
	content: ' \25b2';
	position: absolute;
	right: -2px;
	top: 1px;
	font-size: 0.5em;
}

[aria-sort='ascending'] button:before,
[aria-sort='descending'] button:before {
	content: none;
}

[aria-sort='ascending'] button:after {
	content: ' \25b2';
	font-size: 0.7em;
	position: absolute;
	right: -2px;
	top: 2px;
}

[aria-sort='descending'] button:after {
	content: ' \25bc';
	font-size: 0.7em;
	position: absolute;
	right: -2px;
	top: 2px;
}

.sortable-table-status {
	position: absolute;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height: 1px;
	width: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

tr.no-results-row span {
	display: block;
	padding: 25px;
	font-size: 200%;
}

.download-box {
	background-color: #005ea5;
	color: white;
	padding-top: 20px;
	.govuk-heading-m,
	p[class*='govuk-body'],
	p[class*='govuk-body'] a {
		color: white;
	}
	&[class*='inline'] {
		padding: 20px;
		display: inline-block;
		clear: both;
		margin-bottom: 25px;
	}
}

.error-note {
	color: $govuk-error-colour;
}

.action-buttons {
	display: inline-block;
	> * {
		margin-right: 0;
	}
}
