{% set external = data['set-user-type'] == 'laMat' %}{% extends 'layout_la.html' %}

{% block pageTitle %}
    Errors
{% endblock %}

{% set school = data.schools[data['selected-school']] %}
{% set schoolName = school['name'] %}
{% set laestab = school['LAESTAB'] %}
{% set queries = school['queries'] %}
{% set errors = school['errors'] %}

{% set handledCount = 0 %}
{% for query in queries %}
    {% if query['handled'] == 'true' %}
        {% set handledCount = handledCount + 1 %}
    {% endif %}
{% endfor %}

{% set pendingCount = (queries | length) - handledCount %}

{% block postHeader %}
<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>{{ schoolName }}</b> {{ laestab }}</span>
    </div>
    <div style="float:right;">
        {{ govukButton({
            text: 'Return to list of schools',
            href: '../school-list',
            classes: 'hmcts-menu-item hmcts-button--secondary'
        }) }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full census-case-nav govuk-!-padding-bottom-5">

        {% set actionedQueries = {
            text: handledCount + ' actioned queries' if handledCount != 1 else '1 actioned query',
            href: 'handled'
        } %}

        {{ hmctsSubNavigation({
            label: 'Sub navigation',
            items: [
                {
                    text: pendingCount + ' queries' if pendingCount != 1 else '1 query',
                    href: 'queries'
                },
                {
                    text: school.noOfErrors + ' errors',
                    href: 'errors',
                    active: true
                },
                {
                    text: 'View all census data',
                    href: 'census-data'
                }
            ]
        }) }}  

    </div>

</div>



<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        {% set findHTML %}
        <div class="govuk-!-padding-bottom-5">
            {{ hmctsSearch({
                input: {
                    id: 'search-error',
                    name: 'search-error'
                },
                label: {
                    text: 'Find an error',
                    classes: 'govuk-visually-hidden'
                },
                hint: {
                    text: 'Search by error number or keyword(s)'
                },
                button: {
                    text: 'Find'
                }
            }) }}
        </div>
        {% endset -%}

        
        {{ govukDetails({
        summaryText: "Find an error",
        html: findHTML
        }) }}

        <br>

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <table id="errorTable" class="govuk-table internal-table query-table">
            
            <caption class="govuk-table__caption">Errors</caption>
            
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"><span class="no-wrap">Error</span></th>
           
                <th class="govuk-table__header" scope="col"><span class="no-wrap"></span></th>
                
                </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                {% for error in errors | sort(false, true, 'number') %}
                    {% set consolidatedError = false %}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header query-description" scope="row" data-sort-value="{{ error['number'] }}">
                            <h3 class="govuk-heading-m" style="margin-bottom: 5px;">
                                {{ error['number'] }}
                            </h3>
                            {% if error['type'] == 'pupil' %}
                                {% if error['pupils'] | length != 0 %}
                                <a href="single-query" class="no-wrap type-tag {{ error['type'] }}"  data-name="selected-query" data-value="{{ error.id }}">
                                    {% if error['pupils'] | length != 1 %}
                                        {{ error['pupils'] | length }} pupils
                                        {% set consolidatedError = true %}
                                    {% else %}
                                        1 pupil
                                    {% endif %}
                                </a>
                                {% endif %}
                            {% endif %}
                            <br>
                            <p>{{ error.description }}</p>
                        </th>
                        <td class="govuk-table__cell numeric">
                            {% if error['type'] == 'pupil' and error['pupils'] | length != 0 %}
                            <a href="single-error" data-name="selected-error" data-value="{{ error.id }}" class="govuk-button govuk-button-blue govuk-button-small">
                                View details
                                </a>
                            {% endif %}
                        </td>

                    </tr>

                {% endfor -%}
                
            </tbody>
        </table>

    </div>

</div>



{% endblock %}

{% block pageScripts %}

<script>

    var table = document.getElementById('errorTable')
    new SortableTable(table)

    $('#search-error').on('input', function() {
        var value = $(this).val();
        $('.query-description').each(function() {
            var queryDesc = $(this).html();
            if (!queryDesc.toLowerCase().includes(value.toLowerCase())) {
                $(this).closest('tr').hide();
            } else {
                $(this).closest('tr').show();
            }
        })
    })

    window.GOVUKFrontend.initAll()

</script>

{% endblock %}