{% set external = data['set-user-type'] == 'laMat' %}{% extends 'layout_la.html' %}

{% block pageTitle %}
    Errors
{% endblock %}

{% set school = data.schools[data['selected-school']] %}
{% set schoolName = school['name'] %}
{% set laestab = school['LAESTAB'] %}
{% set queries = school['queries'] %}
{% set errors = school['errors'] %}

{% set handledCount = 0 %}
{% for query in queries %}
    {% if query['handled'] == 'true' %}
        {% set handledCount = handledCount + 1 %}
    {% endif %}
{% endfor %}

{% set pendingCount = (queries | length) - handledCount %}

{% block postHeader %}
<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>{{ schoolName }}</b> {{ laestab }} <strong class="govuk-!-padding-right-4"></strong>{% if not external %}{{ govukTag({text: school.type, classes: school.type}) }}{% endif %}</span>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

{% set hasRejectedQueries = false %}

{% for query in queries %}
    {% if query.approved != 'true' %}
        {% set hasRejectedQueries = true %}
    {% endif %}
{% endfor %}

{% if hasRejectedQueries %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

        <form action="/send-responses">

            {{ govukBackLink({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

            <h1 class="govuk-heading-xl">Do you want to add any additional notes?</h1>

            <p>Give any additional information which may help the school provide more accurate and useful data</p>

            {% set addNoteHTML %}

            {{ govukTextarea({
                id: 'additional-note',
                name: 'additional-note',
                value: data['additional-note'] if data['additional-note'] else '',
                label: {
                    text: 'Additional notes',
                    classes: 'govuk-visually-hidden'
                }
            }) }}

            {% endset %}

            {{ govukRadios({
                idPrefix: 'add-additional-note',
                name: 'add-additional-note',
                fieldset: {
                    legend: {
                        text: 'Do you want to add any additional notes?',
                        isPageHeading: true,
                        classes: 'govuk-visually-hidden'
                    }
                },
                items: [
                    {
                        text: 'Yes',
                        value: 'yes',
                        conditional: {
                            html: addNoteHTML
                        }
                    },
                    {
                        text: 'No, send without additional notes',
                        value: 'no'
                    }
                ]
            }) }}
            
            {{ govukButton({
                html: 'Send responses'
            }) }}

        </form>
    </div>

</div>

{% else %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

        <form action="/send-responses">

            {{ govukBackLink({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

            <h1 class="govuk-heading-xl">All queries have an acceptable explanation</h1>

            <p>This census can now be approved.</p>
            
            {{ govukButton({
                html: 'Approve submission'
            }) }}

        </form>
    </div>

</div>

{% endif %}

{% endblock %}

{% block pageScripts %}

<script>

    var table = document.getElementById('errorTable')
    new SortableTable(table)

    $('#search-error').on('input', function() {
        var value = $(this).val();
        $('.query-description').each(function() {
            var queryDesc = $(this).html();
            if (!queryDesc.toLowerCase().includes(value.toLowerCase())) {
                $(this).closest('tr').hide();
            } else {
                $(this).closest('tr').show();
            }
        })
    })

    window.GOVUKFrontend.initAll()

</script>

{% endblock %}