@import url('https://rsms.me/inter/inter.css');

$font: 'Inter', sans-serif;

html {
	font-family: $font;
}
@supports (font-variation-settings: normal) {
	html {
		font-family: 'Inter var', sans-serif;
	}
}

html,
body {
	margin: 0;
	padding: 0;
	font-size: 17px;
}

h1,
h2,
h3,
h4 {
	line-height: 1.1;
}

p {
	line-height: 1.5;
	margin-bottom: 40px;
	margin-top: 0;
}

$col_blue: #007aff;
$col_green: #00a533;
$col_text: #24292e;
$col_bg: #f6f8fa;
$col_darkbg: #23292f;

html {
	background-color: $col_bg;
	color: $col_text;
}

* {
	box-sizing: border-box;
}

.row {
	padding: 15px;
	.width-container {
		max-width: 1750px;
		margin: 0 auto;
		padding: 0 -15px;
		display: flex;
	}
}

[class*='col-'] {
	padding: 0 15px;
	display: inline-block;
	margin: 0;
	&[class*='one-third'] {
		width: 33.3333%;
	}
	&[class*='two-thirds'] {
		width: 66.6665%;
	}
	&[class*='one-quarter'] {
		width: 25%;
	}
	&[class*='three-quarters'] {
		width: 75%;
	}
	&[class*='one-half'] {
		width: 50%;
	}
	&[class*='full'] {
		width: 100%;
	}
}

a.button,
button,
submit[type='button'] {
	display: inline-flex;
	align-items: center;
	background-color: #00a533;
	font-size: 19px;
	color: white;
	font-weight: bold;
	padding: 6px 12px;
	border: none;
	-webkit-appearance: none;
	border-radius: 3px;
	font-family: $font;
	text-decoration: none;
	transition: all 100ms ease-out;
	cursor: pointer;
	&.large {
		font-size: 24px;
		padding: 10px 15px;
	}
	svg {
		fill: currentColor;
		height: 24px;
		width: 24px;
		margin-right: 5px;
	}
	&:hover {
		transform: scale(1.025);
	}
	&:active {
		transform: scale(0.95);
		opacity: 0.8;
	}
	&.blue {
		background-color: $col_blue;
	}
}

input[type='text'],
input[type='search'],
input[type='tel'],
input[type='url'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
input[type='number'],
input[type='color'],
textarea {
	font-size: 19px;
	padding: 5px 10px;
	-webkit-appearance: none;
	color: $col_text;
	border: 1px solid $col_text;
	border-radius: 3px;
	font-family: $font;
}

header {
	background-color: #23292f;
	color: $col_bg;
	position: relative;
	z-index: 999;
	#logo {
		display: inline-block;
		width: 250px;
		height: auto;
		margin: 15px 0;
	}
	input[type='search'] {
		background-color: transparent;
		color: $col_bg;
		border-color: $col_bg;
	}
	.connect-controls {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-start;
		.school-name {
			font-weight: 900;
			margin: 0;
		}
	}
	.header-controls {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: flex-end;
	}
	nav {
		text-align: right;
		float: right;
		ul.main-nav {
			list-style: none;
			margin: 0;
			padding: 0;
			li {
				float: left;
				margin-left: 15px;
				a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}
}

.row.banner-alert {
	background-color: #ffcc00;
	text-align: center;
	animation: alert 350ms ease-out 2s both;
	position: relative;
	z-index: 998;
	a.button {
		margin-left: 30px;
		background-color: transparent;
		color: $col_text;
		border: 2px solid $col-text;
	}
	.banner-content {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

@keyframes alert {
	from {
		transform: translateY(-100%);
		background-color: rgba(#ffcc00, 0);
	}
	to {
		transform: translateY(0);
		background-color: rgba(#ffcc00, 1);
	}
}

.tiles {
	display: grid;
	grid-gap: 15px;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-template-rows: repeat(auto-fill, 200px);
	grid-auto-flow: column;
	.tile {
		display: flex;
		justify-content: flex-end;
		align-items: flex-start;
		flex-direction: column;
		color: white;
		background-color: $col_blue;
		padding: 25px;
		border-radius: 3px;
		cursor: pointer;
		transition: all 0.2s cubic-bezier(0.1, 0.8, 0.2, 1);
		&:hover {
			transform: scale(1.05);
		}
		h2 {
			margin: 0 0 0 5px;
			font-weight: 900;
		}
		svg {
			width: 75px;
			height: 75px;
			fill: white;
			margin-right: 25px;
		}
	}
}

.graph svg {
	width: 100%;
	height: auto;
	margin: 20px 0;
}
