{% extends 'layout_internal.html' %}

{% block pageTitle %}
    Workloads
{% endblock %}


{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-l">Manage collectors for 2019 spring census</h2>

        {% if not data.isAllocated %}

        {{ govukWarningText({
            text: 'There are ' + data.totalNumberOfSchools | friendlyNumber + ' unallocated schools',
            iconFallbackText: 'alert'
        }) }}

        {{ govukButton({
            text: 'Allocate schools to work queues',
            href: 'allocate',
            classes: ' '
        }) }}

        {% endif %}

        <table class="govuk-table internal-table collector-table">
            
            <caption class="govuk-table__caption">Collectors</caption>
            
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"><span class="no-wrap">Name</span></th>

                <th class="govuk-table__header numeric" scope="col"><span class="no-wrap">Hours per week</span></th>

                <th class="govuk-table__header numeric" scope="col"><span class="no-wrap">Local authorities</span></th>
                
                <th class="govuk-table__header numeric" scope="col"><span class="no-wrap">Managed schools</span></th>
                
                <th class="govuk-table__header width-medium numeric" scope="col"><span class="no-wrap">Academies</span></th>
                
                <th class="govuk-table__header width-medium numeric" scope="col"><span class="no-wrap">Total schools</span></th>
                
                <th class="govuk-table__header" scope="col"><span class="no-wrap">Actions</span></th>
                
                </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                {% for collector in data.collectors %}

                <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            {{ collector.firstName }} {{ collector.lastName }}
                        </th>
                        <td class="govuk-table__cell numeric">
                            {{ (collector.weighting | float * 37 if collector.weighting else '37') | round }}
                        </td>
                        <td class="govuk-table__cell numeric">
                            {{ (collector.las | length) | friendlyNumber  }}
                        </td>
                        <td class="govuk-table__cell numeric">
                            {{ collector.laTotal | friendlyNumber }}
                        </td>
                        <td class="govuk-table__cell numeric">
                            {{ collector.academiesTotal | friendlyNumber }}
                        </td>
                        <td class="govuk-table__cell numeric">
                            {{ [collector.laTotal, collector.academiesTotal] | stringSum }}
                        </td>
                        <td class="govuk-table__cell">
                            <a href="single-queue" data-name="selected-user" data-value="{{ collector.id }}" class="govuk-button govuk-button-blue govuk-button-small">
                                Manage
                            </a>
                            <button type="button" class="govuk-button govuk-button-red govuk-button-small">
                                Remove
                            </button>
                        </td>
                        
                </tr>

                {% endfor -%}
                
            </tbody>
        </table>
        
        {{ govukButton({
            text: 'Add a new collector',
            href: '#',
            classes: ' ',
            attributes: {
                style: 'float: right;'
            }
        }) }}

    </div>

</div>



{% endblock %}