{% extends 'layout_la.html' %}

{% block pageTitle %}
    Errors
{% endblock %}

{% set school = data.sltSchool %}
{% set schoolName = school.name %}
{% set laestab = school.LAESTAB %}
{% set queries = school.queries %}
{% set errors = school.errors %}

{% set handledCount = 0 %}
{% for query in queries %}
    {% if query['handled'] == 'true' %}
        {% set handledCount = handledCount + 1 %}
    {% endif %}
{% endfor %}

{% set pendingCount = (queries | length) - handledCount %}

{% block postHeader %}
<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>{{ schoolName }}</b> {{ laestab }} <strong class="govuk-!-padding-right-4"></strong></span>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}


<div class="govuk-grid-row govuk-body govuk-!-margin-bottom-7">
    <div class="govuk-grid-column-one-half">
        
        <h2 class="govuk-heading-xl">
            There are queries with your data
        </h2>

        <p>
            Your data has produced some queries.
            We can only accept your data submission when your data is complete.
        </p>

        <p>
            Please check the queries listed to make sure all of your data is correct. 
        </p>

        <p>
            If any of the data is incorrect you <strong>must</strong> change the data in your MIS and send it to us again.
        </p>

    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <table id="queryTable" class="govuk-table internal-table query-table">
            
            <caption class="govuk-table__caption">Queries</caption>
            
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"  aria-sort="none"><span class="no-wrap">Queries</span></th>
    
                <th class="govuk-table__header" scope="col">
                </th>
                
                </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                {% for query in queries | sort(false, true, 'number') %}
                    {% set consolidatedQuery = false %}
                    {% if query['handled'] == 'false' %}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header query-description" scope="row" data-sort-value="{{ query['number'] }}">
                            <h3 class="govuk-heading-m" style="margin-bottom: 5px;">
                                {{ query['number'] }}
                            </h3>
                            {% if query['type'] == 'pupil' %}
                                {% if query['pupils'] | length == 0 %}
                                    <span class="type-tag {{ query['type'] }}">{{ query['type'] | titleCase }} query</span>
                                {% else %}
                                <a href="single-query" class="no-wrap type-tag {{ query['type'] }}"  data-name="selected-query" data-value="{{ query.id }}">
                                    {% if query['pupils'] | length != 1 %}
                                        {{ query['pupils'] | length }} pupils
                                        {% set consolidatedQuery = true %}
                                    {% else %}
                                        1 pupil
                                    {% endif %}
                                </a>
                                {% endif %}
                            {% else %}
                                <span class="type-tag {{ query['type'] }}">{{ query['type'] | titleCase }}</span>
                            {% endif %}
                            <br>
                            <p>{{ query.description }}</p>
                        </th>

                        <td class="govuk-table__cell numeric">
                            {% if query['type'] == 'pupil' and query['pupils'] | length != 0 %}
                            <a href="single-query" data-name="selected-query" data-value="{{ query.id }}" class="govuk-button govuk-button-blue govuk-button-small">
                                View details
                                </a>
                            {% endif %}
                        </td>

                    </tr>
                    {% endif %}

                {% endfor -%}
                
            </tbody>
        </table>

    </div>

</div>


<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">

        <form method="post">

            {{ govukWarningText({
                text: 'It is unlawful to knowingly send false information in your school census.',
                iconFallbackText: 'Warning'
            }) }}

            {{ govukRadios({
                idPrefix: 'query-confirm',
                name: 'query-confirm',
                fieldset: {
                    legend: {
                        text: 'Is all of your data correct?',
                        isPageHeading: true,
                        classes: 'govuk-fieldset__legend--l'
                    }
                        },
                        items: [
                    {
                        text: 'Yes, continue with my submission',
                        value: 'yes'
                    },
                    {
                        text: 'No, I need to amend some of the data in my MIS',
                        value: 'no'
                    }
                ]
            }) }}

            {{ govukButton({
                html: 'Save and continue'
            }) }}

        </form>

    </div>
</div>



{% endblock %}

{% block pageScripts %}

<script>

    var nextPageRoutes = {
        yes: 'overview.html',
        no: 'return-to-mis.html'
    }

</script>

{% endblock %}