{% extends 'layout_la.html' %}

{% block pageTitle %}
    Queries
{% endblock %}

{% set school = data.sltSchool %}
{% set schoolName = school.name %}
{% set laestab = school.LAESTAB %}
{% set queries = school.queries %}
{% set errors = school.errors %}

{% set handledCount = 0 %}
{% for query in queries %}
    {% if query['handled'] == 'true' %}
        {% set handledCount = handledCount + 1 %}
    {% endif %}
{% endfor %}

{% set pendingCount = (queries | length) - handledCount %}

{% block postHeader %}

<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>{{ schoolName }}</b> {{ laestab }} <strong class="govuk-!-padding-right-4"></strong></span>
    </div>
    <div style="float:right;">
        {% if (school.responsesSent != 'true') and (pendingCount == 0) %}
            {{ govukButton({
                text: 'Go back',
                href: 'javascript:history.back()',
                classes: 'hmcts-menu-item hmcts-button--secondary'
            }) }}
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}


    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l">Submit school census</h1>

            <form action="/school-send">

            {% set returnNoteEntry %}

                {{ govukTextarea({
                    id: 'return-note',
                    name: 'return-note',
                    value: data['return-note'] if data['return-note'] else '',
                    label: {
                        text: 'Additional information'
                    }
                }) }}

            {% endset %}


            {{ govukRadios({
                idPrefix: 'add-return-note',
                name: 'add-return-note',
                fieldset: {
                    legend: {
                        text: 'Do you want to add any additional information to this census submission?',
                        isPageHeading: true,
                        classes: 'govuk-fieldset__legend--m'
                    }
                },
                hint: {
                    text: 'Provide any information that may help us process your census more quickly'
                },
                items: [
                    {
                        text: 'Yes',
                        value: 'yes',
                        conditional: {
                            html: returnNoteEntry
                        }
                    },
                    {
                        text: 'No',
                        value: 'no'
                    }
                ]
            }) }}
            {{ govukButton({
                text: 'Save and submit',
                href: 'sent',
                classes: ''
            }) }}

            </form>
        </div>

    </div>



{% endblock %}

