{% set external = data['set-user-type'] == 'laMat' %}{% extends 'layout_la.html' %}

{% block pageTitle %}
    My work queue - responses 
{% endblock %}

{% set collector = data.collectors | getById(0) %}
{% set schools = data['schools'] %}

{% set respondedCount = 0 %}
{% set approvedCount = 0 %}

{% for school in schools %}
    {% if school.responsesSent == 'true' %}
        {% if school.isApproved == 'true' %}
            {% set approvedCount = approvedCount + 1 %}
        {% else %}
            {% set respondedCount = respondedCount + 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

{% set inboxCount = (schools | length) - respondedCount - approvedCount %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full census-case-nav">

        <h1 class="govuk-heading-l">{{ 'My schools’ collections' if external else 'My work queue' }}</h1>

        {{ hmctsSubNavigation({
            label: 'Sub navigation',
            items: [
            {
                html: 'Inbox <span class="type-tag count-tag">' + inboxCount + '</span>' if not external else 'Ready for DfE action <span class="type-tag count-tag">' + inboxCount + '</span>',
                href: 'school-list'
            }, {
                html: 'Responded <span class="type-tag count-tag">' + respondedCount + '</span>' if not external else 'Ready for school action <span class="type-tag count-tag">' + respondedCount + '</span>',
                href: 'responded'
            },
            {
                html: 'Approved <span class="type-tag count-tag">' + approvedCount + '</span>',
                href: 'approved',
                active: true
            }
            ]
        }) }} 

        {% if approvedCount == 0 %}

        <div class="govuk-grid-row">

            <div class="govuk-grid-column-one-half">

                {% if external %}
                
                <h2 class="govuk-heading-l">There are no approved censuses</h2>
                <p>When submissions are approved to they will show here.</p>
                <p>Submissions are actioned by the Department for Education in the order they are received. The school will be notified when the Department for Education has responded to their submission.</p>

                {% else %}

                <h2 class="govuk-heading-l">There are no approved censuses</h2>
                <p>When submissions are approved to they will show here.</p>

                {% endif %}

            </div>
  
        </div>

        {% else %}

        {% set filtersHTML %}

        <form action="">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third">
                    {{ govukSelect({
                        id: 'filter-type',
                        name: 'filter-type',
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'School type'
                        },
                        items: [
                            {
                                value: 'published',
                                text: 'Maintained schools and academies',
                                selected: true
                            },
                            {
                                value: 'updated',
                                text: 'Only maintained schools'
                            },
                            {
                                value: 'views',
                                text: 'Only academies'
                            }
                        ]
                    }) }}
                    {{ govukInput({
                        id: 'filter-name',
                        name: 'filter-name',
                        value: data['filter-name'] if data['filter-name'] else '',
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'School name contains',
                            classes: 'govuk-input--width-20'
                        }
                    }) }}
                    {{ govukInput({
                        id: 'filter-la',
                        name: 'filter-la',
                        value: data['filter-la'] if data['filter-la'] else '',
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'LAESTAB contains',
                            classes: 'govuk-input--width-20'
                        }
                    }) }}
                </div>
                <div class="govuk-grid-column-one-third">
                    {{ govukInput({
                        id: 'filter-queries',
                        name: 'filter-queries',
                        value: data['filter-queries'] if data['filter-queries'] else '',
                        attributes: {
                            placeholder: 'e.g. 2520, 2584, 5240'
                        },
                        hint: {
                            text: 'Separate multiple queries with commas'
                        },
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'Query numbers',
                            classes: 'govuk-input--width-20'
                        }
                    }) }}
                    {{ govukInput({
                        id: 'filter-errors',
                        name: 'filter-errors',
                        value: data['filter-errors'] if data['filter-errors'] else '',
                        attributes: {
                            placeholder: 'e.g. 1500, 1741, 3150'
                        },
                        hint: {
                            text: 'Separate errors with commas'
                        },
                        classes: 'govuk-input--width-20',
                        label: {
                            text: 'Error numbers',
                            classes: 'govuk-input--width-20'
                        }
                    }) }}
                </div>
                <div class="govuk-grid-column-full">
                    {{ govukButton({
                        html: 'Apply filters'
                    }) }}
                    {{ govukButton({
                        html: 'Clear filters',
                        disabled: true,
                        classes: 'govuk-button-red'
                    }) }}
                </div>
            </div>
        </form>

        {% endset %}

        {{ govukDetails({
        summaryText: "Filter schools",
        html: filtersHTML
        }) }}

        <table id="queueTable" class="govuk-table internal-table collector-table">
            
            <caption class="govuk-table__caption">My work queue</caption>
            
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col" aria-sort="none"><span class="no-wrap">Name</span></th>

                <th class="govuk-table__header" scope="col" aria-sort="ascending"><span class="no-wrap">Responded</span></th>

                {% if not external %}
                <th class="govuk-table__header" scope="col" aria-sort="none"><span class="no-wrap">Type</span></th>
                {% endif %}

                <th class="govuk-table__header" scope="col" aria-sort="none"><span class="no-wrap">LAESTAB</span></th>

                <th class="govuk-table__header numeric" scope="col" aria-sort="none"><span class="no-wrap">Queries</span></th>

                <th class="govuk-table__header numeric" scope="col" aria-sort="none"><span class="no-wrap">Accepted</span></th>

                <th class="govuk-table__header numeric" scope="col" aria-sort="none"><span class="no-wrap">Rejected</span></th>

                <th class="govuk-table__header numeric" scope="col" aria-sort="none"><span class="no-wrap">Errors</span></th>
                
                <th class="govuk-table__header numeric" scope="col"><span class="no-wrap">Actions</span></th>
                
                </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                {% for school in schools | sort(false, true, 'respondedOn')  -%}

                {% if school.responsesSent == 'true' and school.isApproved == 'true' %}

                <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">
                            <a href="queries/overview.html?selected-school={{ school.id }}">
                                {{ school.name }}
                            </a>
                        </th>
                        <td class="govuk-table__cell" data-sort-value="{{ school.respondedOn }}">
                            {{ school.respondedOn | friendlyDate(data['time']) | sentenceCase }}
                        </td>
                        {% if not external %}
                        <td class="govuk-table__cell">
                            {{ govukTag({
                                text: school.type,
                                classes: school.type
                            }) }}
                        </td>
                        {% endif %}
                        <td class="govuk-table__cell">
                            {{ school.LAESTAB }}
                        </td>
                        <td class="govuk-table__cell numeric">
                            {{ school.noOfQueries }}
                        </td>
                        <td class="govuk-table__cell numeric">
                            {{ school.approvedCount }}
                        </td>
                        <td class="govuk-table__cell numeric">
                            {{ school.noOfQueries | float - school.approvedCount | float }}
                        </td>
                        <td class="govuk-table__cell numeric">
                            {{ school.noOfErrors }}
                        </td>
                        <td class="govuk-table__cell numeric">
                            <a href="queries/handled.html?selected-school={{ school.id }}" class="govuk-button govuk-button-blue govuk-button-small">
                                Review
                            </a>
                        </td>
                        
                </tr>

                {% endif %}

                {% endfor -%}
                
            </tbody>
        </table>

        {% endif %}
 
    </div>

</div>




{% endblock %}

{% block pageScripts %}
<script>
    var table = document.getElementById('queueTable')
    new SortableTable(table)
</script>
{% endblock %}