{% extends 'layout_mis.html' %}

{% block pageTitle %}
    Census sent
{% endblock %}

{% block content %}

<div class="row">
    <div class="width-container">
        <div class="col-two-thirds">
            <h1>Finish your submission on the Department for Education website</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="width-container">
        <div class="col-one-half">
            <p>
                The data has been sent to the Department for Education, to continue you will need to provide explanations for each of the 12 remaining data queries. 
            </p>
            <p>
                <strong>Your census will not be submitted until you have completed this final step.</strong>
            </p>
            <a href="../school/overview.html" class="button">Review your census submission</a>
        </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}