{% extends 'layout.html' %}

{% block pageTitle %}
    DfE Sign-in
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            <form action="../home.html?connected=true">

                <h1 class="govuk-heading-xl">You can now send your school data from Acme MIS</h1>

                <p>You may need to restart the MIS before you can send data using this service.</p>

                 <p>You can close this browser window.</p>

                {{ govukButton({
                    html: 'Sign out'
                }) }}

            </form>

        </div>

</div>

{% endblock %}