{% extends 'layout_la.html' %}

{% block pageTitle %}
    Census data
{% endblock %}

{% set school = data.schools[data['selected-school']] %}
{% set schoolName = school.name %}
{% set laestab = school.LAESTAB %}
{% set queries = school.queries %}
{% set errors = school.errors %}

{% set handledCount = 0 %}
{% set notesCount = 0 %}
{% set queriesTotal = 0 %}
{% set explanationsTotal = 0 %}
{% for query in queries %}
    {% if query.explained != 'true' %}
        {% if query.pupils %}
            {% set queriesTotal = queriesTotal + (query.pupils | length) %}
        {% else %}
            {% set queriesTotal = queriesTotal + 1 %}
        {% endif %}
    {% else %}
        {% if query.pupils %}
            {% set explanationsTotal = explanationsTotal + (query.pupils | length) %}
        {% else %}
            {% set explanationsTotal = explanationsTotal + 1 %}
        {% endif %}
    {% endif %}
    {% if query['explained'] == 'true' %}
        {% set handledCount = handledCount + 1 %}
        {% if query.notes | length %}
            {% set notesCount = notesCount + 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

{% set pendingCount = (queries | length) - handledCount %}
{% set isReady = pendingCount == 0 %}


{% block postHeader %}
<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>{{ schoolName }}</b> {{ laestab }} <strong class="govuk-!-padding-right-4"></strong></span>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        {% if isReady %}
            <h1 class="govuk-heading-l">All issues have an explanation</h1>
            <p>
            Check your explanations carefully. You will not be able to view them once they have been sent.
            </p>
            <p>
            You can then send your explanations to the Department for Education for review.
            </p>
            <p>
            They will contact you by email to confirm your submission, or to ask for more information.
            </p>
                {{ govukButton({
                    text: 'Send explanations',
                    href: 'return-note',
                    classes: ''
                }) }}
        {% else %}
            <h1 class="govuk-heading-l">Resolve the errors and queries in your data</h1>
            <p>
            There are some errors and queries with the census data you have sent us.
            </p>
            <p>
            You need to resolve all issues before the census submission deadline.
            </p>
            {{ govukWarningText({
            text: 'You must be sure the data in your MIS is correct before you begin.',
            iconFallbackText: 'Warning'
        }) }}
        {% endif %}
    </div>
    <div class="govuk-grid-column-one-half" style="text-align: right;">
        <span class="govuk-caption-l">Data sent on 11:21 16 May 2019</span>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full census-case-nav govuk-!-padding-bottom-5">

        {% if errors | length == 0 and queries | length == 0 %}

            <h2 class="govuk-heading-l">Your census is ready to submit</h1>
            <p>Your data has no queries or errors. You can review the data below before you submit it.</p>

            {{ govukButton({
                text: 'Submit census',
                href: 'return-note',
                classes: ''
            }) }}


        {% set notesMenuItem = {
        text: 'Notes',
        href: 'notes'
    } %}

        {% elseif queries | length == 0 %}

            {{ hmctsSubNavigation({
                label: 'Sub navigation',
                items: [
                    notesMenuItem if school.newNote == 'true',
                    {
                        text: school.noOfErrors + ' errors' if school.noOfErrors != 1 else '1 error',
                        href: 'errors'
                    },
                    {
                        text: 'View all census data',
                        href: 'census-data',
                        active: true
                    }
                ]
            }) }} 

        {% elseif errors | length == 0 %}

            {{ hmctsSubNavigation({
                label: 'Sub navigation',
                items: [
                    notesMenuItem if school.newNote == 'true',
                    {
                    text: (queriesTotal | friendlyNumber + ' replies needed' if queriesTotal != 1 else '1 reply needed') if isReplying else (queriesTotal | friendlyNumber + ' issues to resolve' if queriesTotal != 1 else '1 issue to resolve'),
                    href: 'queries'
                }  if not isReady, 
                {
                    text: 'Saved explanations',
                    href: 'handled'
                } if handledCount != 0,
                {
                    text: 'View all census data',
                    href: 'census-data',
                    active: true
                }
                ]
            }) }} 

        {% else %}

        {{ hmctsSubNavigation({
            label: 'Sub navigation',
            items: [
                {
                    text: pendingCount + ' unexplained queries' if pendingCount != 1 else '1 unexplained query',
                    href: 'queries'
                }, 
                {
                    text: handledCount + ' explained queries' if handledCount != 1 else '1 explained query',
                    href: 'handled'
                },
                {
                    text: school.noOfErrors + ' errors' if school.noOfErrors != 1 else '1 error',
                    href: 'errors'
                },
                {
                    text: 'View all census data',
                    href: 'census-data',
                    active: true
                }
            ]
        }) }} 

        {% endif %}


    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">
        
        {% set summaryHTML  %}
            {% include './census/census-summary.html' %}
        {% endset -%}

        {% set schoolHTML  %}
            {% include './census/school.html' %}
        {% endset -%}

        {% set pupilsHTML  %}
            {% include './census/pupils.html' %}
        {% endset -%}


        {{ govukTabs({
            items: [
                {
                    label: 'Summary',
                    id: 'summary',
                    panel: {
                        html: summaryHTML
                    }
                },
                {
                    label: 'School details',
                    id: 'school',
                    panel: {
                        html: schoolHTML
                    }
                },
                {
                    label: 'Pupil details',
                    id: 'pupil',
                    panel: {
                        html: pupilsHTML
                    }
                }
            ]
        }) }}
    </div>

</div>

{% endblock %}

{% block pageScripts %}

<script>

    var table = document.getElementById('pupilsTable')
    new SortableTable(table)

    var navDialogEl = document.querySelector('.dialog');
    var dialogOverlay = document.querySelector('.dialog-overlay');
    
    var myDialog = new Dialog(navDialogEl, dialogOverlay);
    myDialog.addEventListeners('.open-dialog', '.close-dialog');

    $('.open-dialog').on('click', function() {
    var upn = $(this).closest('tr').find('.upn').text();
    var name = $(this).closest('tr').find('.name').text();
    var lname = $(this).closest('tr').find('.last-name').text();
    var fname = $(this).closest('tr').find('.first-name').text();
    var dob = $(this).closest('tr').find('.dob').text();
    $('.dialog .upn-container').html(upn);
    $('.dialog .name-container').html(name);
    $('.dialog .lname-container').html(lname);
    $('.dialog .fname-container').html(fname);
    $('.dialog .dob-container').html(dob);

    })

</script>

{% endblock %}
