{% extends 'layout_mis.html' %}

{% block pageTitle %}
    Spring census submission
{% endblock %}

{% block content %}
<div class="submission">
    <div class="row">
        <div class="width-container">
            <div class="col-two-thirds">
                <a href="census-prep">← Back</a>
                <h1>Spring census preview</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="width-container" style="justify-content: space-between;">
            <div class="col-full">
                <div class="tabs">
                    <a href="census-preview" class="button active">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 64 64"><title>Icons 200</title><path d="M56.0115,28.1742,54.388,49.2509a3.0024,3.0024,0,0,1-2.9951,2.77H12.6486a3.0025,3.0025,0,0,1-2.9951-2.77L8.03,28.1742a2.0012,2.0012,0,0,1,1.9968-2.1535H54.0146A2.0014,2.0014,0,0,1,56.0115,28.1742Zm-1.9908-8.1534v3a1,1,0,0,1-1,1h-42a1,1,0,0,1-1-1v-9a2,2,0,0,1,2-2h11.343a4,4,0,0,1,2.8286,1.1717l3.6567,3.6569a4.0007,4.0007,0,0,0,2.8286,1.1715h19.343A2,2,0,0,1,54.0207,20.0208Z" fill-rule="evenodd"></path></svg>
                        Summary
                    </a>
                    <a href="census-preview-school" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 64 64"><defs><style>.cls-1{fill-rule:evenodd;}</style></defs><title>Icons 600</title><path class="cls-1" d="M16,30c0-7.6152,2.5674-12.4163,7.8473-14.6048A.2452.2452,0,0,0,24,15.17V13c0-5.8125,2.1875-8,8-8s8,2.1875,8,8v2.17a.2452.2452,0,0,0,.1527.2252C45.4326,17.5837,48,22.3848,48,30V52a4,4,0,0,1-4,4H20a4,4,0,0,1-4-4ZM35.72,14.24a.2458.2458,0,0,0,.28-.2454V13c0-3.5-.5-4-4-4s-4,.5-4,4v.9944a.2458.2458,0,0,0,.28.2454,28.9724,28.9724,0,0,1,7.44,0ZM43,40H21a1,1,0,0,0-1,1v5a1,1,0,0,0,1,1h2a1,1,0,0,0,1-1V42.25a.25.25,0,0,1,.25-.25H43a1,1,0,1,0,0-2Z"></path></svg>
                        School details
                    </a>
                    <a href="census-preview-pupils" class="button">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 64 64"><title>Icons 300</title><path d="M32.01,56.0213a24,24,0,1,1,24.0006-24A24.0006,24.0006,0,0,1,32.01,56.0213Zm0-41a4,4,0,1,0,4,4A4,4,0,0,0,32.01,15.0208Zm10.9378,10H21.0729a1.0622,1.0622,0,0,0-.1319,2.1162l6.7119.839a.5.5,0,0,1,.4283.3981,17.8445,17.8445,0,0,1-.5693,9.1421l-2.4195,8.5154a1.4981,1.4981,0,0,0,1.341,1.9891,1.4122,1.4122,0,0,0,1.2872-.8858l4.1762-9.8638a.1249.1249,0,0,1,.2275,0l4.1763,9.8638a1.4112,1.4112,0,0,0,1.2868.8858,1.4984,1.4984,0,0,0,1.3413-1.9891l-2.42-8.5154a17.8445,17.8445,0,0,1-.5693-9.1421.5.5,0,0,1,.4283-.3981l6.7122-.839a1.0622,1.0622,0,0,0-.1319-2.1162Z" fill-rule="evenodd"></path></svg>
                        Pupil details
                    </a>
                </div>
                <a href="absence-report" class="button blue" style="float: right;">
                    <?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 64 64"><title>Icons 100</title><path d="M50.01,30.0152V50.0214a6.0077,6.0077,0,0,1-6,6.0021h-24a6.0077,6.0077,0,0,1-6-6.0021V30.0152a6.0076,6.0076,0,0,1,6-6.0022h4a2.0008,2.0008,0,0,1,0,4.0015h-4a2.0023,2.0023,0,0,0-2,2.0007V50.0214a2.0023,2.0023,0,0,0,2,2.0006h24a2.0027,2.0027,0,0,0,2-2.0006V30.0152a2.0027,2.0027,0,0,0-2-2.0007h-4a2.0008,2.0008,0,0,1,0-4.0015h4A6.0076,6.0076,0,0,1,50.01,30.0152Zm-18,10.0057a2,2,0,0,1-2-2V18.0317H25.0152a1.0273,1.0273,0,0,1-.819-1.6224L31.185,6.435a.9955.9955,0,0,1,1.6381,0l6.9888,9.9743a1.0273,1.0273,0,0,1-.8192,1.6224H34.01V38.0208A2,2,0,0,1,32.01,40.0209Z" fill-rule="evenodd"></path></svg>
                    Export data
                </a>
            </div>       
        </div>
    </div>
</div>

<div class="row">
    <div class="width-container">
        <div class="col-two-thirds">
            
            <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Pupils on roll by age and gender
                </span>
            </summary>
            <div class="govuk-details__text">
                {% include("./summary-tables/pupils-by-age.html") %}
            </div>
            </details>


            <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Pupils on roll in each national curriculum year group
                </span>
            </summary>
            <div class="govuk-details__text">
                {% include("./summary-tables/pupils-each-curriculum-group.html") %}
            </div>
            </details>


            <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Proficiency in English
                </span>
            </summary>
            <div class="govuk-details__text">
                {% include("./summary-tables/proficiency-in-english.html") %}
            </div>
            </details>

            <details class="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                Pupils on roll with SEN provision
                </span>
            </summary>
            <div class="govuk-details__text">
                {% include("./summary-tables/pupils-with-sen.html") %}
            </div>
            </details>

        </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}