{% extends 'layout_mis.html' %}

{% block pageTitle %}
    Census sent
{% endblock %}

{% block content %}

<div class="row">
    <div class="width-container">
        <div class="col-two-thirds">
            <h1>Your data is sent but your census submission is not complete yet</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="width-container">
        <div class="col-one-half">
            <p>
                You must add explanations for outstanding errors and queries on the Department for Education website.
            </p>
            <a href="../../school-notes/options.html" class="button large" target="_blank">Explain the issues in your data</a>
            <p>(Opens in a new window)</p>
        </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}