{% extends 'layout_la.html' %}

{% block pageTitle %}
    Queries
{% endblock %}

{% set school = data.schools[data['selected-school']] %}
{% set schoolName = school.name %}
{% set laestab = school.LAESTAB %}
{% set queries = school.queries %}
{% set errors = school.errors %}

{% set handledCount = 0 %}
{% set notesCount = 0 %}
{% for query in queries %}
    {% if query['explained'] == 'true' %}
        {% set handledCount = handledCount + 1 %}
        {% if query.notes | length %}
            {% set notesCount = notesCount + 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

{% set hasNotes = false %}

{% set pendingCount = (queries | length) - handledCount %}
{% set isReplying = (school.isReplying == 'true') %}

{% block postHeader %}

{% if school.needsTrimming == 'true' %}
<script>
    window.location.href = '/trim-approved'
</script>
{% elseif queries | length == 0 %}
<script>
    window.location.href = 'errors'
</script>
{% endif %}

<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>{{ schoolName }}</b> {{ laestab }} <strong class="govuk-!-padding-right-4"></strong></span>
    </div>
    <div style="float:right;">
        {% if (school.responsesSent != 'true') and (pendingCount == 0) %}
            {{ govukButton({
                text: 'Submit census',
                href: 'return-note',
                classes: 'hmcts-menu-item'
            }) }}
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Resolve the errors in your data</h1>
        <p>
        There are some errors with the census data you have sent us.
        </p>
        <p>
        You need to resolve all errors before the census submission deadline.
        </p>
        {{ govukWarningText({
            text: 'You must be sure the data in your MIS is correct before you begin.',
            iconFallbackText: 'Warning'
        }) }}
    </div>
    <div class="govuk-grid-column-one-half" style="text-align: right;">
        <span class="govuk-caption-l">Data sent on 11:21 16 May 2019</span>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full census-case-nav">

        {% set notesMenuItem = {
            text: 'Notes',
            href: 'notes'
        } %}

        {{ hmctsSubNavigation({
            label: 'Sub navigation',
            items: [
                notesMenuItem if school.newNote == 'true',
                {
                    text: (pendingCount + ' replies needed' if pendingCount != 1 else '1 reply needed') if isReplying else (pendingCount + ' errors to resolve' if pendingCount != 1 else '1 error to resolve'),
                    href: 'queries',
                    active: true
                }, 
                {
                    text: (handledCount + ' replies given' if handledCount != 1 else '1 reply given') if isReplying else (handledCount + ' saved explanations ' if handledCount != 1 else '1 saved explanation '),
                    href: 'handled'
                },
                {
                    text: 'View all census data',
                    href: 'census-data'
                }
            ]
        }) }} 

    </div>

</div>

{% if (pendingCount == 0) and (school.responsesSent == 'true') %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l">Responses have been sent to the Department for Education</h1>
            <p>You can <a href="handled">review the responses</a> and change the responses if there has been an error.</p>
            {{ govukButton({
                text: 'Review responses',
                href: 'return-note',
                classes: ''
            }) }}
        </div>

    </div>

{% elseif pendingCount == 0 %}

    <div class="govuk-grid-row">

        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-l">All queries have an explanation</h1>
            <p>You can <a href="handled">review the explanations</a> before they are sent. Once this census is sent, the Department for Education will approve or reject the explanations provided. You will be notified if any further action is needed.</p>
            {{ govukButton({
                text: 'Submit census',
                href: 'return-note',
                classes: ''
            }) }}
        </div>

    </div>

{% else %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <table id="queryTable" class="govuk-table internal-table query-table">
            
            <caption class="govuk-table__caption">Queries</caption>
            
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"><span class="no-wrap">Error</span></th>

                {% if hasNotes %}
                <th class="govuk-table__header" scope="col"><span class="no-wrap">Notes</span></th>
                {% endif %}
                
                <th class="govuk-table__header width-medium" scope="col"><span class="no-wrap">How to resolve query</span></th>
                
                <th class="govuk-table__header numeric" scope="col"><span class="no-wrap"></span></th>
                
                </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                {% for query in queries | sort(false, true, 'category') %}
                    {% set consolidatedQuery = false %}
                    {% if query['explained'] != 'true' %}

                        <tr class="govuk-table__row">
                            <th class="govuk-table__header query-description" scope="row" data-sort-value="{{ query['number'] }}">
                                <h3 class="govuk-heading-m" style="margin-bottom: 5px;">
                                    {{ query['number'] }}
                                </h3>
                                {% if query['pupils'] | length != 0 %}
                                    <a href="single-query" class="no-wrap type-tag {{ query['type'] }}"  data-name="selected-query" data-value="{{ query.id }}">
                                    {% if query['pupils'] | length != 1 %}
                                        {{ query['pupils'] | length }} pupils
                                        {% set consolidatedQuery = true %}
                                    {% else %}
                                        1 pupil
                                    {% endif %}
                                </a>
                                {% endif %}
                                <br>
                                <p>{{ query.description }}</p>
                            </th>

                            {% if hasNotes %}

                            <td class="govuk-table__cell width-medium">
                                {% if query.notes | length == 0 %}
                                    −
                                {% else %}
                                    {% for note in query.notes %}
                                        <div class="note {{ note.type }}">
                                            <span class="title">{{ 'Approved by ' if note.type == 'approval' }}{{ 'Rejected by ' if note.type == 'reply' }}{{ 'Note added by ' if note.type == 'school' }} {{ note.author }}<br>{{ note.date | formatDate }}</span>
                                            {{ note.text }}
                                        </div>
                                    {% endfor -%}
                                {% endif %}
                            </td>

                            {% endif %}
                            
                            <td class="govuk-table__cell width-medium">
                            {% if query.category == 'error' %}
                                {% if query['type'] == 'pupil' and query['pupils'] | length != 0 %}
                                    <span>You must correct the data for {{ 'each pupil' if query['pupils'] | length > 1 else 'this pupil' }} in your MIS to resolve this query.</span><br>
                                {% else %}
                                    <span>You must correct the data in your MIS to resolve this query.</span><br>
                                {% endif %}
                            {% else %}
                                <span>Always check first to make sure the data in your MIS is correct.</span><br>
                                <span class="query-guide">{{ query.guide }}</span><br>
                            {% endif %}
                                <div class="query-index" style="display: none;">{{query.id}}</div>
                                <div class="query-category" style="display: none;">{{query.category}}</div>
                            </td>

                            <td class="govuk-table__cell numeric">
                                <div class="action-buttons">
                                    {% if query['category'] == 'error' %}
                                        <button type="button" class="govuk-button govuk-button-small govuk-button-grey open-dialog">
                                            {{ 'Reply' if isReplying else 'I can’t resolve this' }}
                                        </button><br>
                                    {% else %}
                                        <button type="button" class="govuk-button govuk-button-small open-dialog">
                                            {{ 'Reply' if isReplying else 'Give an explanation' }}
                                        </button><br>
                                    {% endif %}
                                    {% if query['type'] == 'pupil' and query['pupils'] | length != 0 %}
                                        <a href="single-query?selected-query={{ query.id }}&numberOfPupilsMoved=0" class="govuk-button govuk-button-blue govuk-button-small">
                                            View pupil{{ 's' if query['pupils'] | length > 1 }}
                                        </a>
                                    {% endif %}
                                </div>
                            </td>

                        </tr>

                    {% endif %}

                {% endfor -%}
                
            </tbody>
        </table>

    </div>

</div>

<div class="dialog" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description">
            
    <div class="query-description"></div>
    <div class="error-warning">
        {{ govukWarningText({
            text: 'We do not normally accept explanations for this type of query, you must amend this data in your MIS if possible',
            iconFallbackText: 'Warning'
        }) }}
    </div>

    <p class="guide"></p>
    
    <div class="query-warning">
        {{ govukWarningText({
            text: 'You should always check the accuracy of the data in your MIS before providing an explanation',
            iconFallbackText: 'Warning'
        }) }}
    </div>

    <form class="internal-form" action="/add-explanation">
        {{ govukTextarea({
            id: 'reject-reason',
            name: 'reject-reason',
            label: {
                text: 'Reply' if isReplying else 'Explanation'
            }
        }) }}
    
        <input type="hidden" id="selectedQuery" name="selected-query">
        <input type="hidden" id="responseNote" name="response-note" value="">
        <input type="hidden" name="selected-school" value="{{ data['selected-school'] }}">
        {{ govukButton({
            html: 'Save reply' if isReplying else 'Save explanation',
            classes: 'send'
        }) }}
    </form>
    <p>
        <a href="#" class="close-dialog">Cancel</a>
    </p>
        
</div>

<div class="dialog-overlay" tabindex="-1"></div>

{% endif %}


{% endblock %}

{% block pageScripts %}

<script>

    var table = document.getElementById('queryTable')
    new SortableTable(table)

    $('#search-query').on('input', function() {
        var value = $(this).val();
        $('.query-description').each(function() {
            var queryDesc = $(this).html();
            if (!queryDesc.toLowerCase().includes(value.toLowerCase())) {
                $(this).closest('tr').hide();
            } else {
                $(this).closest('tr').show();
            }
        })
    })

    var navDialogEl = document.querySelector('.dialog');
    var dialogOverlay = document.querySelector('.dialog-overlay');
    
    var myDialog = new Dialog(navDialogEl, dialogOverlay);
    myDialog.addEventListeners('.open-dialog', '.close-dialog');

    var customNote = true;

    $('.dialog .govuk-textarea').on('change', function() {
        if (customNote) {
            updateNote($('.dialog .govuk-textarea').val());
        }
    })
    function updateNote(input) {
        newNoteValue = input;
        $('#responseNote').val(newNoteValue);
    }
</script>

{% endblock %}