{% extends 'layout_mis.html' %}

{% block pageTitle %}
    Census sent
{% endblock %}

{% block content %}

<div class="row">
    <div class="width-container">
        <div class="col-two-thirds">
            <h1>Your census has been sent successfully</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="width-container">
        <div class="col-one-half">
            <p>
                You can add explanations for outstanding errors and queries on the Department for Education website.
            </p>
            <a href="../school/login.html" class="button" target="_blank">View your census submission on the DfE website</a>
            <p>(Opens in a new window)</p>
        </div>
    </div>
</div>

{% endblock %}

{% block pageScripts %}

{% endblock %}