{% extends 'layout_la.html' %}

{% block pageTitle %}
    Collection submission
{% endblock %}

{% set school = data.schools[data['selected-school']] %}
{% set schoolName = school.name %}
{% set laestab = school.LAESTAB %}
{% set queries = school.queries %}
{% set errors = school.errors %}

{% set handledCount = 0 %}
{% for query in queries %}
    {% if query['explained'] == 'true' %}
        {% set handledCount = handledCount + 1 %}
    {% endif %}
{% endfor %}

{% set pendingCount = (queries | length) - handledCount %}

{% block postHeader %}
{% if errors | length == 0 %}
<script>
    window.location.href = 'census-data'
</script>
{% endif %}

<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>{{ schoolName }}</b> {{ laestab }} <strong class="govuk-!-padding-right-4"></strong>
    </div>
    <div style="float:right;">
        {% if (school.responsesSent != 'true') and (pendingCount == 0) %}
            {{ govukButton({
                text: 'Submit census',
                href: 'return-note',
                classes: 'hmcts-menu-item'
            }) }}
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full census-case-nav govuk-!-padding-bottom-5">

    {% set notesMenuItem = {
        text: 'Notes',
        href: 'notes'
    } %}

    {% if queries | length == 0 %}

        {{ hmctsSubNavigation({
            label: 'Sub navigation',
            items: [
                notesMenuItem if school.newNote == 'true',
                {
                    text: school.noOfErrors + ' errors' if school.noOfErrors != 1 else '1 error',
                    href: 'errors',
                    active: true
                },
                {
                    text: 'View all census data',
                    href: 'census-data'
                }
            ]
        }) }}
    
    {% else %}

        {{ hmctsSubNavigation({
            label: 'Sub navigation',
            items: [
                notesMenuItem if school.newNote == 'true',
                {
                    text: pendingCount + ' unexplained queries' if pendingCount != 1 else '1 unexplained query',
                    href: 'queries'
                }, 
                {
                    text: handledCount + ' explained queries' if handledCount != 1 else '1 explained query',
                    href: 'handled'
                },
                {
                    text: school.noOfErrors + ' errors' if school.noOfErrors != 1 else '1 error',
                    href: 'errors',
                    active: true
                },
                {
                    text: 'View all census data',
                    href: 'census-data'
                }
            ]
        }) }} 

    {% endif %}

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        {% set findHTML %}
        <div class="govuk-!-padding-bottom-5">
            {{ hmctsSearch({
                input: {
                    id: 'search-error',
                    name: 'search-error'
                },
                label: {
                    text: 'Find an error',
                    classes: 'govuk-visually-hidden'
                },
                hint: {
                    text: 'Search by error number or keyword(s)'
                },
                button: {
                    text: 'Find'
                }
            }) }}
        </div>
        {% endset -%}

        
        {{ govukDetails({
        summaryText: "Find an error",
        html: findHTML
        }) }}

        <br>

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

         <table id="errorTable" class="govuk-table internal-table query-table">
            
            <caption class="govuk-table__caption">Queries</caption>
            
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"  aria-sort="ascending"><span class="no-wrap">Error</span></th>
              
                <th class="govuk-table__header" scope="col"  aria-sort="none"><span class="no-wrap">Records affected</span></th>                
                <th class="govuk-table__header" scope="col"><span class="no-wrap">Description</span></th>
                
                </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                {% for error in errors | sort(false, true, 'number') %}
                    {% set consolidatedError = false %}
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header query-description" scope="row" data-sort-value="{{ error.number }}">
                            <h3 class="govuk-heading-m" style="margin-bottom: 5px;">
                                {{ error.number }}
                                <span class="govuk-visually-hidden">{{ error.description }}</span>
                            </h3>
                        </th>

                        <td class="govuk-table__cell" data-sort-value="{{ error.pupils | length if error.pupils else 0 }}">
                            {{ error.pupils | length if error.pupils }}
                        </td>

                        <td class="govuk-table__cell">
                            {{ error.description }}
                        </td>

                    </tr>

                {% endfor -%}
                
            </tbody>
        </table>

    </div>

</div>

{% endblock %}

{% block pageScripts %}

<script>
    $('[href*="#"]').on('click', function() {
        var str = 'This view is for developer reference only, to simulate processes please use the current iteration.'
        if ($(this).attr('data-notice')) {
            str += '\n\nNOTE:  ' + $(this).attr('data-notice')
        }
        alert(str)
    })
</script>

<script>

    var table = document.getElementById('errorTable')
    new SortableTable(table)

</script>
{% endblock %}