{% extends 'layout_la.html' %}

{% block pageTitle %}
    Queries
{% endblock %}

{% set school = data.schools[data['selected-school']] %}
{% set schoolName = school.name %}
{% set laestab = school.LAESTAB %}
{% set queries = school.queries %}
{% set errors = school.errors %}

{% set handledCount = 0 %}
{% for query in queries %}
    {% if query['explained'] == 'true' %}
        {% set handledCount = handledCount + 1 %}
    {% endif %}
{% endfor %}

{% set pendingCount = (queries | length) - handledCount %}
{% set isReplying = (school.isReplying == 'true') %}

{% block postHeader %}

<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>{{ schoolName }}</b> {{ laestab }} <strong class="govuk-!-padding-right-4"></strong></span>
    </div>
    <div style="float:right;">
        {% if (school.responsesSent != 'true') and (pendingCount == 0) %}
            {{ govukButton({
                text: 'Submit census',
                href: 'return-note',
                classes: 'hmcts-menu-item'
            }) }}
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Summer census submission summary</h1>
        <p>
            You can view any errors and queries in your data, and review your census submission below.
        </p>
        <p>
           This service is currently in development, functionality to provide explanations for the errors and queries in your data and additional reports will be available in future releases.
        </p>
    </div>
    <div class="govuk-grid-column-one-half" style="text-align: right;">
        <div class="app-callout-container">
            <div class="app-callout">
                <h3 class="govuk-heading-s">Download all census data</h3>
                <p class="govuk-body-s">
                    Download the census data for {{ school.name }}
                </p>
                <p class="govuk-body-s">
                    <a href="#">Download as XML</a> <a href="#" class="govuk-!-margin-left-3">Download as CSV</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full census-case-nav">

        {% set notesMenuItem = {
            text: 'Notes',
            href: 'notes'
        } %}

        {% set errorsMenuItem = {
            text: school.noOfErrors + ' errors' if school.noOfErrors != 1 else '1 error',
            href: 'errors'
        } %}

        {{ hmctsSubNavigation({
            label: 'Sub navigation',
            items: [
                notesMenuItem if school.newNote == 'true',
                {
                    text: pendingCount + ' queries' if pendingCount != 1 else '1 query',
                    href: 'queries',
                    active: true
                }, errorsMenuItem if errors | length != 0,
                {
                    text: 'Census data',
                    href: 'census-data'
                },
                {
                    text: 'Reports',
                    href: 'reports'
                }
            ]
        }) }} 

    </div>

</div>

{% set findHTML %}
    <div class="hmcts-search">
        <form action="" method="get">
            <div class="govuk-form-group">
            <label class="govuk-label hmcts-search__label govuk-visually-hidden" for="search-query">
                Find a query
            </label>
            <span id="search-query-hint" class="govuk-hint hmcts-search__hint ">
                Search by query number or keyword(s)
            </span>
            <input class="govuk-input hmcts-search__input " id="search-query" name="search-query" type="search" aria-describedby="search-query-hint" autocomplete="off">
            </div>
            <button type="submit" class="govuk-button hmcts-search__button ">
            Find
            </button>
            <button type="submit" class="govuk-button govuk-button-red hmcts-search__button ">
            Clear
            </button>
        </form>
    </div>
{% endset %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">

        
        {{ govukDetails({
            summaryText: "Find a query",
            html: findHTML
        }) }}

        <br>

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <table id="queryTable" class="govuk-table internal-table query-table">
            
            <caption class="govuk-table__caption">Queries</caption>
            
            
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                
                <th class="govuk-table__header" scope="col"><span class="no-wrap">Query</span></th>
                
                <th class="govuk-table__header width-medium" scope="col"><span class="no-wrap">Acceptance criteria</span></th>
                
                <th class="govuk-table__header numeric" scope="col"><span class="no-wrap"></span></th>
                
                </tr>
            </thead>
            
            <tbody class="govuk-table__body">

                {% for query in queries | sort(false, true, 'number') %}
                    {% set consolidatedQuery = false %}
                    {% if query['explained'] != 'true' %}

                        <tr class="govuk-table__row">
                            <th class="govuk-table__header query-description" scope="row" data-sort-value="{{ query['number'] }}">
                                <h3 class="govuk-heading-m" style="margin-bottom: 5px;">
                                    {{ query['number'] }}
                                </h3>
                                {% if query['pupils'] | length != 0 %}
                                    <a href="single-query" class="no-wrap type-tag {{ query['type'] }}"  data-name="selected-query" data-value="{{ query.id }}">
                                    {% if query['pupils'] | length != 1 %}
                                        {{ query['pupils'] | length }} pupils
                                        {% set consolidatedQuery = true %}
                                    {% else %}
                                        1 pupil
                                    {% endif %}
                                </a>
                                {% endif %}
                                <br>
                                <p>{{ query.description }}</p>
                            </th>
                            
                            <td class="govuk-table__cell width-medium">
                                {{ query.guide }}
                                <div class="query-index" style="display: none;">{{query.id}}</div>
                            </td>

                            <td class="govuk-table__cell numeric">
                                {% if query['type'] == 'pupil' and query['pupils'] | length != 0 %}
                                    <a href="single-query" data-name="selected-query" data-value="{{ query.id }}" class="govuk-button govuk-button-blue govuk-button-small">
                                        View details
                                    </a>
                                {% endif %}
                            </td>

                        </tr>

                    {% endif %}

                {% endfor -%}
                
            </tbody>
        </table>

    </div>

</div>

<div class="dialog" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description">
            
    <div class="query-description"></div>
    <div class="notes"></div>
    <form class="internal-form" action="/add-explanation">
        {{ govukTextarea({
            id: 'reject-reason',
            name: 'reject-reason',
            label: {
                text: 'Reply' if isReplying else 'Explanation'
            }
        }) }}
    
        <input type="hidden" id="selectedQuery" name="selected-query">
        <input type="hidden" id="responseNote" name="response-note" value="">
        <input type="hidden" name="selected-school" value="{{ data['selected-school'] }}">
        {{ govukButton({
            html: 'Save reply' if isReplying else 'Save explanation',
            classes: 'send'
        }) }}
    </form>
    <p>
        <a href="#" class="close-dialog">Cancel</a>
    </p>
        
</div>

<div class="dialog-overlay" tabindex="-1"></div>



{% endblock %}

{% block pageScripts %}

<script>

    var table = document.getElementById('queryTable')
    new SortableTable(table)

    $('#search-query').on('input', function() {
        var value = $(this).val();
        $('.query-description').each(function() {
            var queryDesc = $(this).html();
            if (!queryDesc.toLowerCase().includes(value.toLowerCase())) {
                $(this).closest('tr').hide();
            } else {
                $(this).closest('tr').show();
            }
        })
    })

    var navDialogEl = document.querySelector('.dialog');
    var dialogOverlay = document.querySelector('.dialog-overlay');
    
    var myDialog = new Dialog(navDialogEl, dialogOverlay);
    myDialog.addEventListeners('.open-dialog', '.close-dialog');

    var customNote = true;

    $('.dialog .govuk-textarea').on('change', function() {
        if (customNote) {
            updateNote($('.dialog .govuk-textarea').val());
        }
    })
    function updateNote(input) {
        newNoteValue = input;
        $('#responseNote').val(newNoteValue);
    }
</script>

{% endblock %}