{% extends 'layout_la.html' %}

{% block pageTitle %}
    Reports
{% endblock %}

{% set school = data.schools[data['selected-school']] %}
{% set schoolName = school.name %}
{% set laestab = school.LAESTAB %}
{% set queries = school.queries %}
{% set errors = school.errors %}

{% set handledCount = 0 %}
{% for query in queries %}
    {% if query['explained'] == 'true' %}
        {% set handledCount = handledCount + 1 %}
    {% endif %}
{% endfor %}

{% set pendingCount = (queries | length) - handledCount %}


{% block postHeader %}
<div class="hmcts-identity-bar">
  <div class="hmcts-identity-bar__container">
    <div class="hmcts-identity-bar__details">
        <span class="hmcts-identity-bar__title"><b>{{ schoolName }}</b> {{ laestab }} <strong class="govuk-!-padding-right-4"></strong></span>
    </div>
    <div style="float:right;">
        {% if (school.responsesSent != 'true') and (pendingCount == 0) %}
            {{ govukButton({
                text: 'Submit census',
                href: 'return-note',
                classes: 'hmcts-menu-item'
            }) }}
        {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
        <h1 class="govuk-heading-l">Summer census submission summary</h1>
        <p>
            When launched, you will be able to use this service to give explanations for the errors and queries in your data. You will also be able to provide additional information to help us authorise your census submission.
        </p>
    </div>
    <div class="govuk-grid-column-one-half" style="text-align: right;">
        <div class="app-callout-container">
            <div class="app-callout">
                <h3 class="govuk-heading-s">Download all census data</h3>
                <p class="govuk-body-s">
                    Download the census data for {{ school.name }}
                </p>
                <p class="govuk-body-s">
                    <a href="#">Download as XML</a> <a href="#" class="govuk-!-margin-left-3">Download as CSV</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-full census-case-nav govuk-!-padding-bottom-5">

        {{ hmctsSubNavigation({
            label: 'Sub navigation',
            items: [
                notesMenuItem if school.newNote == 'true',
                {
                    text: pendingCount + ' queries' if pendingCount != 1 else '1 query',
                    href: 'queries'
                },
                {
                    text: school.noOfErrors + ' errors' if school.noOfErrors != 1 else '1 error',
                    href: 'errors'
                },
                {
                    text: 'Census data',
                    href: 'census-data'
                },
                {
                    text: 'Reports',
                    href: 'reports',
                    active: true
                }
            ]
        }) }} 

      

    </div>

</div>

<div class="govuk-grid-row">

    <div class="govuk-grid-column-one-half">
        
        <h3 class="govuk-heading-m">Absence insight report</h3>

        <p>
            View the absence data for Lake Sigmund Secondary School and see how it compares nationally both during and after the school census window.
        </p>

        {{ govukButton({
            text: 'Open report',
            href: 'absence-insight.html',
            classes: ' '
        }) }}

    </div>

</div>

{% endblock %}
