{% from 'accordion/macro.njk'        import govukAccordion %}
{% from 'back-link/macro.njk'        import govukBackLink %}
{% from 'breadcrumbs/macro.njk'      import govukBreadcrumbs %}
{% from 'button/macro.njk'           import govukButton %}
{% from 'character-count/macro.njk'  import govukCharacterCount %}
{% from 'checkboxes/macro.njk'       import govukCheckboxes %}
{% from 'date-input/macro.njk'       import govukDateInput %}
{% from 'details/macro.njk'          import govukDetails %}
{% from 'error-message/macro.njk'    import govukErrorMessage %}
{% from 'error-summary/macro.njk'    import govukErrorSummary %}
{% from 'fieldset/macro.njk'         import govukFieldset %}
{% from 'file-upload/macro.njk'      import govukFileUpload %}
{% from 'input/macro.njk'            import govukInput %}
{% from 'inset-text/macro.njk'       import govukInsetText %}
{% from 'panel/macro.njk'            import govukPanel %}
{% from 'phase-banner/macro.njk'     import govukPhaseBanner %}
{% from 'radios/macro.njk'           import govukRadios %}
{% from 'select/macro.njk'           import govukSelect %}
{% from 'skip-link/macro.njk'        import govukSkipLink %}
{% from 'summary-list/macro.njk'     import govukSummaryList %}
{% from 'table/macro.njk'            import govukTable %}
{% from 'tabs/macro.njk'             import govukTabs %}
{% from 'tag/macro.njk'              import govukTag %}
{% from 'textarea/macro.njk'         import govukTextarea %}
{% from 'warning-text/macro.njk'     import govukWarningText %}



{% from 'hmcts/banner/macro.njk' import hmctsBanner %}
{% from 'hmcts/global-footer/macro.njk' import hmctsGlobalFooter %}
{% from 'hmcts/filter/macro.njk' import hmctsFilter %}
{% from 'hmcts/global-header/macro.njk' import hmctsGlobalHeader %}
{% from 'hmcts/identity-bar/macro.njk' import hmctsIdentityBar %}
{% from 'hmcts/menu/macro.njk' import hmctsMenu %}
{% from 'hmcts/page-header-with-actions/macro.njk' import hmctsPageHeaderWithActions %}
{% from 'hmcts/pagination/macro.njk' import hmctsPagination %}
{% from 'hmcts/progress-bar/macro.njk' import hmctsProgressBar %}
{% from 'hmcts/primary-navigation/macro.njk' import hmctsPrimaryNavigation %}
{% from 'hmcts/search/macro.njk' import hmctsSearch %}
{% from 'hmcts/sub-navigation/macro.njk' import hmctsSubNavigation %}
{% from 'hmcts/timeline/macro.njk' import hmctsTimeline %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pageTitle %}{{ serviceName }}{% endblock %}</title>
    {% block head %}
      {% include "includes/head.html" %}
    {% endblock %}
  </head>
  <body class="govuk-template__body internal">
    {{ hmctsGlobalHeader({
      service: {
      name: serviceName,
      url: '#'
      },

      navigation: {
      label: 'Account navigation',
      items: [
        {
          text: 'Sign out',
          href: '#root#/dph/internal/school-list?set-user-type=helpdesk' if data['set-user-type'] == 'school' else ('#root#/dph/school/queries?set-user-type=school' if data.schools[0].newNote != 'true' else '#root#/dph/school/notes?set-user-type=school')
        }
      ]
      }
    }) }}

    {% set navItems = [
      {
      text: 'My schools' if data['set-user-type'] == 'laMat' else 'My queue',
      href: '#root#/dph/internal/school-list',
      active: true
      }
    ] %}

    {{ hmctsPrimaryNavigation({
      label: 'Primary navigation',
      items:  navItems if data['set-user-type'] != 'school' else 'My queue'
    }) }} 
    {% block postHeader %}
    {% endblock %}
    <div class="govuk-width-container">
      <main id="main-content" class="govuk-main-wrapper" role="main">
        {% block content %}
        {% endblock %}
      </main>
    </div>
    {{ hmctsGlobalFooter({
      
      navigation: {
      items: [{
        text: 'Clear data',
        href: '/prototype-admin/clear-data'
      }]
      }
    
    }) }}

    {% block bodyEnd %}
      {% block scripts %}
        {% include "includes/scripts.html" %}
        {% block pageScripts %}{% endblock %}
      {% endblock %}
      <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
    {% endblock %}
  </body>
  <script>
    $('#search').attr('placeholder', 'Find school')
  </script>
</html>