{% extends 'layout.html' %}

{% block pageTitle %}
    Prototype options
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

        <div class="govuk-grid-column-two-thirds">

            {{ govukBackLink({
                text: 'Back',
                href: 'javascript:history.back()'
            }) }}

            <form method="post">

                <h1 class="govuk-heading-xl">Prototype options</h1>

                {{ govukRadios({
                    idPrefix: 'user-type',
                    name: 'user-type',
                    fieldset: {
                        legend: {
                            text: 'User type',
                            isPageHeading: true,
                            classes: 'govuk-fieldset__legend--l'
                        }
                    },
                    items: [
                        {
                            text: '',
                            value: ''
                        }
                    ]
                }) }}

                {{ govukButton({
                    html: 'Save and continue'
                }) }}

            </form>

        </div>

</div>

{% endblock %}